<div class="grid-3 gutter-20">
    <div class="span-1">
        <div class="flakes-actions-bar">
            <a class="action button-gray smaller" [routerLink]="['AdminCustomersCreate']">Create new customer</a>
        </div>
        <table class="flakes-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#customer of customers" [class.active]="selectedCustomer === customer"
                    (click)="selectedCustomer = customer">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.lastName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span-2">
        <div *ngIf="selectedCustomer">
            <fieldset class="flakes-information-box">
                <legend>Customer Details</legend>
                <dl>
                    <dt>Id</dt>
                    <dd>{{ selectedCustomer.id }}</dd>
                </dl>
                <div class="grid-4">
                    <dl class="span-2">
                        <dt>First name</dt>
                        <dd>{{ selectedCustomer.firstName }}</dd>
                    </dl>
                    <dl class="span-2">
                        <dt>Last name</dt>
                        <dd>{{ selectedCustomer.lastName }}</dd>
                    </dl>
                </div>
                <dl>
                    <dt>Details</dt>
                    <dd>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac lacus odio. Aenean eget nibh
                        in sapien
                        facilisis faucibus eu et risus. Suspendisse suscipit ante neque, quis blandit justo porta in.
                        Mauris
                        accumsan ipsum ex, non ultricies orci dapibus id. Quisque sollicitudin efficitur nulla, eu
                        aliquet risus
                        fringilla in. Quisque facilisis lorem sapien, in molestie nibh tincidunt volutpat. Etiam sit
                        amet enim
                        molestie, faucibus nibh vel, blandit diam. Ut tempor ante a enim imperdiet, non lacinia ipsum
                        consequat.
                    </dd>
                </dl>
            </fieldset>
        </div>
    </div>
</div>
