<h1>Admin Area - Home</h1>
<p>Welcome to the Sample Admin Area. Please use the navigation on the left.</p>

<h2>Additional resources</h2>
<ul>
    <li>GitHub: <a href="https://github.com/thinktecture/nodejs-aspnetcore-webapi/">https://github.com/thinktecture/nodejs-aspnetcore-webapi/</a></li>
   <!-- <li>Slides: <a href="https://speakerdeck.com/manuelrauber/web-apis-with-node-dot-js-for-net-developers">https://speakerdeck.com/manuelrauber/web-apis-with-node-dot-js-for-net-developers</a></li>
   --> <li>Node.js: <a href="https://nodejs.org/en/">https://nodejs.org/</a></li>
    <li>Restify: <a href="http://restify.com/">http://restify.com/</a></li>
    <li>SequelizeJS: <a href="http://sequelizejs.com/">http://sequelizejs.com/</a></li>
    <li>ASP.NET Core 1.0: <a href="https://docs.asp.net/">https://docs.asp.net/</a></li>
    <li>Entity Framework 7: <a href="http://docs.efproject.net/">http://docs.efproject.net/</a></li>
    <li>IdentityServer4: <a href="https://github.com/IdentityServer/IdentityServer4">https://github.com/IdentityServer/IdentityServer4</a></li>
    <li>Angular 2: <a href="https://angular.io/">https://angular.io/</a></li>
</ul>
