<fieldset>
    <legend>Create a new customer</legend>
    <form (submit)="onSubmitted()" #newCustomerForm="ngForm">
        <ul>
            <li>
                <label for="firstName">First name</label>
                <input id="firstName" type="text" [(ngModel)]="firstName" (ngControl)="firstName"
                       placeholder="First name"
                       required>
            </li>
            <li>
                <label for="lastName">Last name</label>
                <input id="lastName" type="text" [(ngModel)]="lastName" (ngControl)="lastName"
                       placeholder="Last name" required>
            </li>
            <li>
                <button type="submit" class="button-blue"
                        [disabled]="!newCustomerForm.form.valid">
                    Create!
                </button>
            </li>
        </ul>
    </form>
</fieldset>
