<div class="email-item pure-g">
    <div class="pure-u" *ngIf="customer.userImageUrl">
        <img class="email-avatar" height="64" width="64" [src]="customer.userImageUrl">
    </div>

    <div class="pure-u-3-4">
        <h5 class="email-name">{{ customer.firstName }} {{ customer.lastName }}</h5>
        <h4 class="email-subject">Customer</h4>
    </div>
    <div class="pure-u-1-4">
        <button class="pure-button pure-button-primary" (click)="removeCustomer()">Delete</button>
    </div>
</div>
