<div class="center">
    <fieldset>
        <legend>Login</legend>
        <form (submit)="onSubmitted()" #loginForm="ngForm">
            <ul>
                <li>
                    <label for="name">Username</label>
                    <input id="name" type="text" [(ngModel)]="username" (ngControl)="username" placeholder="Username = bob"
                           required>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input id="password" type="password" [(ngModel)]="password" (ngControl)="password"
                           placeholder="Password = bob" required>
                </li>
                <li>
                    <button type="submit" [disabled]="!loginForm.form.valid" class="button-blue">Submit</button>
                </li>
            </ul>
        </form>
    </fieldset>
</div>
